repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
    - id: pytest
      name: pytest
      entry: .venv/bin/python -m pytest -n auto tests
      language: python
      types: [python]
      pass_filenames: false
      always_run: true
